.hero-content {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  height: calc(100% - 50%);
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
}

.hero-title {
  font-size: 1.8rem;
  color: white;
  text-align: center;
}

.hero-main {
  display: flex;
  justify-content: flex-start;
  max-width: 506px;
  max-height: 192px;
  height: 100%;
  gap: 10px;
  align-items: flex-start;
  flex-direction: column;
}

.movie-meta__wrapper {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 20px;
}

.hero-details {
  display: flex;
  justify-content: flex-start;
  max-width: 506px;
  max-height: 192px;
  height: 100%;
  gap: 10px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
}

.details-btn__wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}